<div class="message mb-2 <%= "me" if message.user == current_user %>">
  <div class="content-container">
    <div class="content py-2 px-3">
      <%= message.content %>
    </div>
    <div class="">
      <span class="text-muted"><%= time_ago_in_words message.created_at %> ago</span>
    </div>
  </div>
</div>