<div class="message mb-2">
  <div class="content-container">
    <div class="content py-2 px-3">
      <%= message.content %>
    </div>
    <div class="">
      <small class="text-muted"><%= time_ago_in_words message.created_at %> ago</small>
    </div>
  </div>
</div>