<form class="d-flex justify-content-center" action="/search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="username">
    <button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button>
</form>