<div class="container mt-3">
    <div class="col-12 d-flex justify-content-center my-4">
            <% if current_user.avatar.attached? %>
                <%= image_tag url_for(current_user.avatar), :class => "avatar-pic" %>
            <% else %>
                <%= image_tag("/images/no_photo.png", :class => "avatar-pic") %>
            <% end %>
    </div>
    <h3 class="text-center text-secondary">Only you can see what you saved</h3>
    <div class="d-flex justify-content-center col-12">
        <div class="row">
            <% @saved_image.each do |image| %>
                <div class="col-4">
                    <%= link_to image_tag(image.image.image, class: "image-user"), image_path(image.image.id) %>
                </div>
            <% end %>
        </div>
    </div>
</div>