<div class="image-home-container">
    <div class="section1">
        <h3 class="first-text">*Our amazing logo*</h3>
        <%= image_tag("/images/img1.jpeg", :class => "image-scroll") %>
    </div>
    <div class="section1">
        <h1 class="second-text">A place to find inspiration</h1>
        <%= image_tag("/images/img3.jpeg", :class => "image-scroll") %>
    </div>
    <div class="section1">
        <h3 class="third-text">And to inspire others</h3>
        <%= image_tag("/images/img2.jpg", :class => "image-scroll") %>
    </div>
</div>