<div class="container d-flex justify-content-center mt-4">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body p-2">
          <%= image_tag @image.image, class: 'd-block w-100' %>
        </div>
      </div>
    </div>

    <div class="col-3">
      <%#= link_to @image.user.attached, profile_path(@image.user.id) %>
      <%#= link_to image_tag(current_user.avatar, class: "profile-pic mt-2"), profile_path(@image.user.id) %>
      <%#= link_to image_tag(@user.avatar, class: "profile-pic mt-2"), profile_path(@image.user.id) %>
      <%= link_to @image.user.name, profile_path(@image.user.id) %>

      <p class="border-top mt-3 py-2">
        <% if @image.description.present? %>
          <%= @image.description %> -
        <% end %>
        <span class="text-muted"><%= time_ago_in_words @image.created_at %> ago</span>
      </p>
    </div>
  </div>
</div>